.login-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}

.login-form label {
    display: block;
    margin: 30px auto; 
}

.login-form span {
    display: block;
    margin-bottom: 6px;
}

.login-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

.btn {
    padding: .5rem;
    background-color:#effaf0;
    border-radius: 5px;
    border: 3px solid #03ac13;
    color: #03ac13;
    font-weight: bold;
}

.btn:hover {
    padding: .5rem;
    background-color:#effaf0;
    border-radius: 5px;
    border: 3px solid #03ac13;
    color: black;
    font-weight: bold;
}